<div>
  <form action="/auth/login" method="post">
    <input name="email" type="email">
    <br>
    <input name="password" type="password">
    <input type="submit">
  </form>
  <form action="/auth/facebook" method="POST">
    <input type="submit" value="Login con facebook">
  </form>
  
</div>