<h1>Regístrate</h1>
<div>
  <form action="/auth/signup" method="post">
    <input placeholder="Nombre" name="username" type="text">
    <input placeholder="Email" name="email" type="email">
    <br>
    <input name="password" type="password">
    <input type="submit">
  </form>
</div>